.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    font-family: math;
    font-size: 75px;
}

#subtitle{
    font-family: math;
    font-style: italic;
    font-size: 35px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagem{
    height: 350px;
    width: 512px;
}

#input_div{
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
}

marquee{
    width: 300px;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container * {
    font-size: 40px

}

